
body {
    
    padding: 0;
    margin: 0;
}

#game-container {
    background-color: brown;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

#player {
    background-color: blue;
    position: absolute;
}

#game-road {
    background-color: blanchedalmond;
    width: 100vw;
    height: 45vh;
    position: absolute;
    top: 30%;
    /* Missing to add the road game */
   
}

.obstacle {
    background-color: darkgreen;
    position: absolute;
}