
body {
    
    padding: 0;
    margin: 0;
}

#game-container {
    background-color: brown;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

#player {
    background-color: blue;
    position: absolute;
      /* Missing to add the bike to div */
}

#game-road {
    background-color: blanchedalmond;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 25%;
    /* Missing to add the road to div */
   
}

.obstacle {
    background-color: darkgreen;
    position: absolute;
      /* Missing to add the car to div */
}

.newspaper {
    background-color: darkturquoise;
  
      /* Missing to add the newspaper to div */
}